.container {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 1fr 20% 10%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/*.container > div {*/
/*  border: 1px solid black;*/
/*}*/

.poster {
  grid-area: 1 / 1 / 2 / 2;
}

picture {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

img {
  width: auto;
  height: 100%;
}

.title {
  grid-area: 1 / 2 / 2 / 3;
  text-align: left;
}
.status {
  grid-area: 1 / 3 / 2 / 4;
}
.rating {
  grid-area: 1 / 4 / 2 / 5;
  text-align: center;
}
