<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<main class="content">

  <section class="content__main" [style]="'background-image: url(' + content?.['backdrop_path'] + ');'">

    <div class="content__container">

      <div class="content__info container">

        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{content?.['poster_path']}}"
             data-src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{content?.['poster_path']}}"
             data-srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{content?.['poster_path']}} 1x, https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{content?.['poster_path']}} 2x"
             srcset="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{content?.['poster_path']}} 1x, https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{content?.['poster_path']}} 2x"
             data-loaded="true" [alt]="content?.['title'] ?? content?.['name']" appImgMissingDirective>

        <div class="content__data">
          <div *ngIf="user != undefined" class="content__data--reactions">
            <div *ngIf="!is_favorite" class="favorite--unchecked">
              <mat-icon (click)="setFavorite(true)">favorite_outlined</mat-icon>
            </div>
            <div *ngIf="is_favorite" class="favorite--checked">
              <mat-icon (click)="setFavorite(false)">favorite</mat-icon>
            </div>
            <div *ngIf="rating == undefined || rating == 0" class="rating unrated">
              <mat-icon (click)="openRatingDialog()">star_outlined</mat-icon>
            </div>
            <div *ngIf="rating != undefined && rating > 0" class="rating rated">
              <mat-icon (click)="openRatingDialog()">star</mat-icon>
            </div>

            <div *ngIf="!isInTrash" class="trash--unchecked">
              <mat-icon (click)="addContentToTrash()">delete_outlined</mat-icon>
            </div>
            <div *ngIf="isInTrash" class="trash--checked">
              <mat-icon (click)="deleteContentFromTrash()">delete_outlined</mat-icon>
            </div>
          </div>

          <h2>{{content?.['title'] ?? content?.['name']}}
            ({{content?.['release_date'] ?? content?.['first_air_date'] | date:'YYYY' }})
          </h2>
          <h3>{{content?.['tagline']}}</h3>

          <h4>Overview</h4>
          <p>{{content?.['overview']}}</p>

          <div *ngIf="contentType === 'movies'" class="content__runtime">
            <h4>Runtime</h4>
            <p>{{getWatchTime(content?.['runtime'])}}</p>
<!--            <div *ngIf="providers !== undefined">-->
<!--              <h4>Providers</h4>-->
<!--              <div class="providers">-->
<!--                <div *ngFor="let provider of providers">-->
<!--                  <img src="https://image.tmdb.org/t/p/original{{provider?.logo_path}}"-->
<!--                       data-loaded="true" [alt]="provider?.provider_name" appImgMissingDirective>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

          </div>

          <div *ngIf="contentType === 'tv-shows'" class="content__seasons">
            <div>
              <h4>Seasons</h4>
              <p>{{content?.['number_of_seasons']}}</p>
            </div>
            <div>
              <h4>Episodes</h4>
              <p>{{content?.['number_of_episodes']}}</p>
            </div>
          </div>

          <button *ngIf="providersLink" mat-raised-button color="accent" aria-label="Providers"
                  class="play-trailer" (click)="window.open(providersLink)">
            <mat-icon>play_arrow</mat-icon>
            Providers
          </button>

          <button *ngIf="video" mat-raised-button color="primary" aria-label="Trailer" (click)="openDialog()"
                  class="play-trailer">
            <mat-icon>play_arrow</mat-icon>
            Play Trailer
          </button>

          <h4>Categories</h4>

          <div class="content__data--categories">
            <button *ngFor="let genre of content?.['genres']" mat-raised-button color="primary" aria-label="Genres"
                    disabled>{{genre.name}}</button>
          </div>
          <div *ngIf="user != undefined " class="content__data--form">
            <mat-form-field appearance="fill" color="primary">
              <mat-select (selectionChange)="addContent()" [(value)]="status">
                <mat-option value="Not watched">Not watched</mat-option>
                <mat-option value="Plan to watch">Plan to watch</mat-option>
                <mat-option value="Watched">Watched</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
      </div>

    </div>

  </section>

  <section class="content__data-mobile">
    <div *ngIf="user != undefined" class="content__data--reactions">
      <div *ngIf="!is_favorite" class="favorite--unchecked">
        <mat-icon (click)="setFavorite(true)">favorite_outlined</mat-icon>
      </div>
      <div *ngIf="is_favorite" class="favorite--checked">
        <mat-icon (click)="setFavorite(false)">favorite</mat-icon>
      </div>
      <div *ngIf="rating == undefined || rating == 0" class="rating unrated">
        <mat-icon (click)="openRatingDialog()">star_outlined</mat-icon>
      </div>
      <div *ngIf="rating != undefined && rating > 0" class="rating rated">
        <mat-icon (click)="openRatingDialog()">star</mat-icon>
      </div>

      <div *ngIf="!isInTrash" class="trash--unchecked">
        <mat-icon (click)="addContentToTrash()">delete_outlined</mat-icon>
      </div>
      <div *ngIf="isInTrash" class="trash--checked">
        <mat-icon (click)="deleteContentFromTrash()">delete_outlined</mat-icon>
      </div>
    </div>

    <h2>{{content?.['title'] ?? content?.['name']}}
      ({{content?.['release_date'] ?? content?.['first_air_date'] | date:'YYYY' }})
    </h2>
    <h3>{{content?.['tagline']}}</h3>

    <h4>Overview</h4>
    <p>{{content?.['overview']}}</p>
    <div *ngIf="contentType === 'movies'" class="content__runtime">
      <h4>Runtime</h4>
      <p>{{getWatchTime(content?.['runtime'])}}</p>
    </div>

    <div *ngIf="contentType === 'tv-shows'" class="content__seasons">
      <div>
        <h4>Seasons</h4>
        <p>{{content?.['number_of_seasons']}}</p>
      </div>
      <div>
        <h4>Episodes</h4>
        <p>{{content?.['number_of_episodes']}}</p>
      </div>
    </div>
    <div *ngIf="user != undefined " class="content__data-mobile--form">
      <mat-form-field appearance="fill" color="primary">
        <mat-select (selectionChange)="addContent()" [(value)]="status">
          <mat-option value="Not watched">Not watched</mat-option>
          <mat-option value="Plan to watch">Plan to watch</mat-option>
          <mat-option value="Watched">Watched</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button *ngIf="video" mat-raised-button color="primary" aria-label="Trailer" (click)="openDialog()"
            class="play-trailer">
      <mat-icon>play_arrow</mat-icon>
      Play Trailer
    </button>
  </section>

  <section class="content__similar_or_recommended container">

    <h2>Similar {{contentType}}</h2>

    <div class="content__similar_or_recommended--cards" *ngIf="similarContentList.length > 0; else noSimilarMovies">
      <div *ngFor="let content of similarContentList;">
        <app-movie-card [model]="content" [isMovie]="contentType === 'movies'"></app-movie-card>
      </div>
    </div>

    <ng-template #noSimilarMovies>
      <div class="content__no-similar_or_recommended">
        <mat-icon [inline]="true">sentiment_dissatisfied</mat-icon>
        <span>No similar {{contentType.slice(0, contentType.length - 1)}}</span>
      </div>
    </ng-template>

  </section>

  <section class="content__similar_or_recommended container">

    <h2>Recommended {{contentType}}</h2>

    <div class="content__similar_or_recommended--cards" *ngIf="recommendationContentList.length > 0; else noRecommendedMovies">
      <div *ngFor="let content of recommendationContentList;">
        <app-movie-card [model]="content" [isMovie]="contentType === 'movies'"></app-movie-card>
      </div>
    </div>

    <ng-template #noRecommendedMovies>
      <div class="content__no-similar_or_recommended">
        <mat-icon [inline]="true">sentiment_dissatisfied</mat-icon>
        <span>No recommended {{contentType.slice(0, contentType.length - 1)}}</span>
      </div>
    </ng-template>

  </section>
</main>


<ng-template #matTrailerDialog>
  <div cdkDragBoundary=".cdk-overlay-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane"
       style="background: black;">
    <div class="dialog-title-container" cdkDragHandle>
      <a href="javascript:void(0);" (click)="trailerDialog.closeAll()">
        <mat-icon aria-label="cerrar dialogo cambiar imagen Cabecera">close</mat-icon>
      </a>
      <h2 matDialogTitle>Play Trailer</h2>
    </div>

    <mat-dialog-content class="header-content-dialog">

      <div *ngIf="video" class="video-movie-main">
        <iframe [src]="video['url']" allowfullscreen></iframe>
      </div>

    </mat-dialog-content>

  </div>
</ng-template>
