/FrontEnd/FrontEnd.iml
BackEnd/Movies_Library_REST_API/Movies_Library_API/migrations/
BackEnd/Movies_Library_REST_API/core/.env
BackEnd/Movies_Library_REST_API/Movies_Library_API/config.py
BackEnd/Movies_Library_REST_API/core/__pycache__/
BackEnd/Movies_Library_REST_API/Movies_Library_API/__pycache__/
BackEnd/Movies_Library_REST_API/Movies_Library_API/models/__pycache__/
BackEnd/Movies_Library_REST_API/Movies_Library_API/views/__pycache__/
BackEnd/Movies_Library_REST_API/Movies_Library_API/migrations/__pycache__/
BackEnd/Movies_Library_REST_API/Movies_Library_API/migrations/
BackEnd/Movies_Library_REST_API/Authentication/__pycache__/
BackEnd/Movies_Library_REST_API/Authentication/migrations/
