<main class="contents container">

  <h2>All {{contentType | titlecase}} #{{filterType}}</h2>

  <div class="contents__container">

    <mat-card class="contents__filter">
      <mat-form-field>
        <mat-label>Search movies</mat-label>
        <input type="text" #box matInput (keyup.enter)="searchByQuery(box.value)">
        <mat-icon class="contents__filter__search_button" (click)="searchByQuery(box.value)">search</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Search by categories</mat-label>
        <mat-select [formControl]="categories" multiple>
          <mat-select-trigger>
            {{categories.value?.[0] || ''}}
            <span *ngIf="(categories.value?.length || 0) > 1">
        (+{{(categories.value?.length || 0) - 1}} {{categories.value?.length === 2 ? 'other' : 'others'}})
      </span>
          </mat-select-trigger>
          <mat-option *ngFor="let category of categoryList" [value]="category.name">{{category.name}}</mat-option>
        </mat-select>
        <mat-icon class="contents__filter__search_button" (click)="searchByCategories()">search</mat-icon>
      </mat-form-field>

<!--      <div>Filter by</div>-->
      <button mat-raised-button color="primary" aria-label="Set Now Playing filter" (click)="applyFilter('Now Playing')">Now Playing</button>
      <button mat-raised-button color="primary" aria-label="Set Upcoming filter" (click)="applyFilter('Upcoming')">Upcoming</button>
      <button mat-raised-button color="primary" aria-label="Set Popular filter" (click)="applyFilter('Popular')">Popular</button>
      <button mat-raised-button color="primary" aria-label="Set Popular filter" (click)="applyFilter('Trending')">Trending</button>

    </mat-card>

    <div class="contents__right-side">

      <div class="contents__list">
        <app-movie-card *ngFor="let content of results" [model]="content" [isMovie]="contentType === 'movies'">
        </app-movie-card>
      </div>

      <mat-paginator [length]="totalResults" [pageSize]="20" (page)="changePage($event)">
      </mat-paginator>
    </div>

  </div>

</main>
