<div class="container">
  <div class="row">
    <div class="inner-main">
      <h2 class="mb-4">User Profile</h2>
      <p><strong>Name:</strong> {{ this.currentUser.first_name }}</p>
      <p><strong>Lastname:</strong> {{ this.currentUser.last_name }}</p>
      <p><strong>Password:</strong> {{ this.currentUser.password }}</p>

      <p><strong>Email:</strong> {{ this.currentUser.email }}</p>
    </div>
  </div>
  <p>Total watch time: {{getWatchTime()}}</p>
  <button routerLink="movies">Movie list</button>
</div>
