<header class="navbar__container" [class.colored__scrolled]="isScrolled">

  <nav class="navbar__nav container">
    <a routerLink="/" class="flex-start navbar__logo">
      <!-- <img [attr.Src]="'assets/logo.png'" alt="Movies + TV Shows by JancoBH" width="144" height="36"> -->
    </a>
    <div class="navbar__list">
      <a mat-button routerLink="" [routerLinkActive]="['activated-route']" [routerLinkActiveOptions]="{exact: true}"
        aria-label="Home">Home</a>
      <a mat-button routerLink="movies" [routerLinkActive]="['activated-route']" aria-label="Movies">Movies</a>
      <a mat-button routerLink="tv-shows" [routerLinkActive]="['activated-route']" aria-label="TV Shows">TV Shows</a>
      <a mat-button routerLink="actors" [routerLinkActive]="['activated-route']" aria-label="Actors">Actors</a>
    </div>
  </nav>

</header>
